@import "tailwindcss";

:root {
  --background: rgb(28,19,10);
  --primary: var(--color-red-500);
  --secondary: rgb(221,192,122);
  --detail: var(--color-stone-700);
}

@font-face {
  font-family: "Noto Serif Light";
  src: url("/slova/fonts/NotoSerif-Light.ttf") format("truetype");
  font-weight: lighter; /* 200 */
  font-style: normal;
}

@font-face {
  font-family: "Noto Serif Light";
  src: url("/slova/fonts/NotoSerif-LightItalic.ttf") format("truetype");
  font-weight: lighter; /* 200 */
  font-style: italic;
}

@font-face {
  font-family: "Noto Serif";
  src: url("/slova/fonts/NotoSerif-Medium.ttf") format("truetype");
  font-weight: normal; /* 400 */
  font-style: normal;
}

@font-face {
  font-family: "Noto Serif";
  src: url("/slova/fonts/NotoSerif-MediumItalic.ttf") format("truetype");
  font-weight: normal; /* 400 */
  font-style: italic;
}

@font-face {
  font-family: "Noto Serif";
  src: url("/slova/fonts/NotoSerif-Bold.ttf") format("truetype");
  font-weight: bold; /* 700 */
  font-style: normal;
}

@font-face {
  font-family: "Noto Serif";
  src: url("/slova/fonts/NotoSerif-BoldItalic.ttf") format("truetype");
  font-weight: bold; /* 700 */
  font-style: italic;
}

* {
  font-family: 'Noto Serif';
  font-weight: normal;
}

h1, strong {
  font-weight: bold;
}

.light {
  font-family: 'Noto Serif Light';
}

body {
  background-color: var(--background);
  color: var(--secondary);
}

/* From https://azbyka.ru */
@font-face {
  font-family: 'Triodion';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url(/slova/fonts/triodion-ieUcs.eot);
  src: url('/slova/fonts/triodion-ieUcs.eot?#iefix') format('embedded-opentype'),
       url(/slova/fonts/triodion-ieUcs.woff2) format('woff2'),
       url(/slova/fonts/triodion-ieUcs.woff) format('woff'),
       url(/slova/fonts/triodion-ieUcs.ttf) format('truetype'),
       url('/slova/fonts/triodion-ieUcs.svg#triodion-ieUcs') format('svg');
}

.slavonic {
  font-family: "Triodion";
}

h1, h2 {
  color: var(--primary);
}

i.s {
  font-family: "Triodion";
  font-style: normal;
  font-size: 1.3em;
}

i.sh {
  font-family: "Triodion";
  font-style: normal;
  position: relative;
  display: inline-block;
}

i.sh::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -5px;
  right: -5px;
  background-color: rgba(255, 255, 255, 0.1);
  background-color: oklch(0.637 0.237 25.331 / 0.1);
  z-index: -1;
}

/* Hover data-tooltip related */
[data-tooltip] {
  cursor: pointer;
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  overflow: hidden;
  visibility: hidden;
  font-size: 13px;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 2px 7px;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s;
}

[data-tooltip]:not(.hover-left)::after {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

[data-tooltip].hover-left::after {
  top: 0%;
  right: 100%;
  margin-right: 8px;
}
 
[data-tooltip]:hover::after {
  visibility: visible;
  opacity: 1;
}
