@import "tailwindcss";

:root {
  --background: rgb(28,19,10);
  --primary: var(--color-red-500);
  --secondary: rgb(221,192,122);
  --detail: var(--color-stone-700);
}

@font-face {
  font-family: "Noto Serif Light";
  src: url("/slujba/fonts/NotoSerif-Light.ttf") format("truetype");
  font-weight: lighter; /* 200 */
  font-style: normal;
}

@font-face {
  font-family: "Noto Serif Light";
  src: url("/slujba/fonts/NotoSerif-LightItalic.ttf") format("truetype");
  font-weight: lighter; /* 200 */
  font-style: italic;
}

@font-face {
  font-family: "Noto Serif";
  src: url("/slujba/fonts/NotoSerif-Medium.ttf") format("truetype");
  font-weight: normal; /* 400 */
  font-style: normal;
}

@font-face {
  font-family: "Noto Serif";
  src: url("/slujba/fonts/NotoSerif-MediumItalic.ttf") format("truetype");
  font-weight: normal; /* 400 */
  font-style: italic;
}

@font-face {
  font-family: "Noto Serif";
  src: url("/slujba/fonts/NotoSerif-Bold.ttf") format("truetype");
  font-weight: bold; /* 700 */
  font-style: normal;
}

@font-face {
  font-family: "Noto Serif";
  src: url("/slujba/fonts/NotoSerif-BoldItalic.ttf") format("truetype");
  font-weight: bold; /* 700 */
  font-style: italic;
}

* {
  font-family: 'Noto Serif';
  font-weight: normal;
}

h1, strong {
  font-weight: bold;
}

.light {
  font-family: 'Noto Serif Light';
}

body {
  background-color: var(--background);
  color: var(--secondary);
}

/* From https://azbyka.ru */
@font-face {
  font-family: 'Triodion';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url(/slujba/fonts/triodion-ieUcs.eot);
  src: url('/slujba/fonts/triodion-ieUcs.eot?#iefix') format('embedded-opentype'),
       url(/slujba/fonts/triodion-ieUcs.woff2) format('woff2'),
       url(/slujba/fonts/triodion-ieUcs.woff) format('woff'),
       url(/slujba/fonts/triodion-ieUcs.ttf) format('truetype'),
       url('/slujba/fonts/triodion-ieUcs.svg#triodion-ieUcs') format('svg');
}

.slavonic {
  font-family: "Triodion";
}

h1, h2 {
  color: var(--primary);
}

i.s {
  font-family: "Triodion";
  font-style: normal;
  font-size: 1.3em;
}

i.ref {
  color: var(--detail);
  font-size: 12px;
}

@media print {
  i.ref {
    color: grey;
    font-size: 9px;
  }
}
